<%= render "shared/card",
           title: "Holdings",
           subtitle: "<span id='holdings_count'>#{@holdings&.count || 0}</span> Positions".html_safe,
           card_class: "",
           content_class: "",
           icon: "↗" do %>

  <ul class="divide-y divide-white/5">
    <% @holdings.each do |holding| %>
      <%= render "dashboard/holding_row", holding: holding %>
    <% end %>
  </ul>



  <div id="portfolio_empty" class="transition-opacity duration-200 <%= @holdings.empty? ? 'opacity-100' : 'opacity-0' %>">
    <%= render "shared/empty_state", message: "No holdings yet" %>
  </div>

<% end %>
