<%= render "shared/card",
           title: "Watchlist",
           subtitle: "<span id='watchlist_count'>#{Current.user.watchlist_items.count || 0}</span> Stocks".html_safe,
           icon: "★",
           card_class: "",
           content_class: "" do %>
  <ul class="divide-y divide-white/5">
    <% Current.user.watchlist_items.each do |item| %>
      <%= render "dashboard/watchlist_item", item: item %>
    <% end %>
  </ul>


  <div id="watchlist_empty" class="transition-opacity duration-200 <%= Current.user.watchlist_items.empty? ? 'opacity-100' : 'opacity-0' %>">
    <%= render "shared/empty_state", message: "No stocks watched yet" %>
  </div>
<% end %>