<div class="space-y-6">


  <%= render "shared/user_header" %>

  <%= render "portfolio_chart" %>

  <div class="grid gird-cols-1 md:grid-cols-2 gap-6">

    <%= render "portfolio" %>


    <%= render "watchlist" %>
  </div>

</div>






