<div class="bg-primary relative overflow-hidden flex flex-col justify-end p-6 sm:p-10 lg:p-12 min-h-[5vh] lg:min-h-screen">

  <!-- Decorative circles -->
  <div class="absolute -top-24 -right-24 w-72 h-72 sm:w-[400px] sm:h-[400px] lg:w-[500px] lg:h-[500px] bg-white/[0.06] rounded-full"></div>
  <div class="absolute -bottom-20 left-1/2 -translate-x-1/2 lg:translate-x-0 lg:left-auto lg:right-20 w-64 h-64 sm:w-[300px] sm:h-[300px] lg:w-[400px] lg:h-[400px] bg-black/[0.12] rounded-full"></div>

  <div class="relative z-10 text-center lg:text-left">
    <h1 class="text-4xl sm:text-5xl lg:text-[3.5rem] font-extrabold leading-none tracking-[-0.04em] text-white">
      TRIVIO
    </h1>
    <p class="font-mono text-xs sm:text-sm text-white/65 mt-3">
      Real-time portfolio management
    </p>
  </div>
</div>