<%= turbo_frame_tag "top_movers",
                    src: top_movers_path,
                    loading: :lazy do %>

  <div class="bg-zinc-950 border-y border-zinc-800 py-3 text-center text-zinc-500">
    Loading market movers...
  </div>

<% end %>