<div class="bg-surface rounded-xl p-6 border border-white/5 shadow-2xl">

  <div data-controller="chart"
       data-chart-url-value="<%= history_stock_path(@stock) %>"
       data-chart-interval-value="5000">

    <div data-chart-target="chart" id="live-price-chart">


      <%= render "shared/chart",
                 chart_type: :line_chart,
                 url: history_stock_path(@stock, format: :json),
                 color: "#22c55e",
                 bg_color: "#111318",
                 prefix: "$",
                 thousands: ",",
                 refresh: 5,
                 fill: true %>
    </div>

  </div>
</div>
