<h1 class="text-3xl font-bold  text-font">
  Market Stocks
</h1>
<p class="text-lg  mb-6 text-font">
  Available Stocks:
  <span class="text-primary"><%= @stocks.length %></span>
</p>


<%= turbo_frame_tag "stocks_table",
                    src: table_partial_stocks_path,
                    data: {
                      controller: "stocks",
                      stocks_url_value: stocks_path(format: :json),
                      stocks_interval_value: 10000
                    } do %>

  <div class="animate-pulse p-6" id="stocks-skeleton">
    <div class="h-6 bg-surface-2 rounded w-1/4 mb-4"></div>
    <% 5.times do %>
      <div class="h-6 bg-surface-3 rounded w-full mb-2"></div>
    <% end %>
  </div>

<% end %>

<!-- Pagination -->
<% if @pagy.next %>
  <div class="mt-12">
    <%== @pagy.series_nav %>
  </div>
<% end %>
