<%# if flash %>
<%# flash.each do |type, message| %>
<%#= content_tag(:div, message, class: "flash #{type}", data: { controller: "flash" }) %>
<%# end %>
<%# end %>

<div class="fixed top-5 right-5 z-50 flex flex-col gap-3 pointer-events-none max-w-sm w-full px-4 sm:px-0">
  <% flash.each do |type, message| %>
    <%
      bg_class = case type.to_sym
                 when :notice, :success then 'bg-green-50 border-green-200 text-green-800'
                 when :alert, :error then 'bg-red-50 border-red-200 text-red-800'
                 else 'bg-blue-50 border-blue-200 text-blue-800'
                 end
    %>

    <div class="pointer-events-auto flex items-start p-4 border rounded-xl shadow-lg <%= bg_class %> transition-all duration-500 ease-out translate-x-0 opacity-100" data-controller="flash">
      <div class="flex-1 font-medium text-sm">
        <%= message %>
      </div>

    </div>
  <% end %>
</div>